<mat-card>
    <form class="example-form">

        <mat-form-field class="id-course">
            <mat-label>Id do Curso</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <br>

        <mat-form-field class="data-inicial">
            <mat-label>Data Inical</mat-label>
            <input matInput placeholder="0000-00-00" value="">
        </mat-form-field>

        <mat-form-field class="data-final">
            <mat-label>Data Final</mat-label>
            <input matInput placeholder="0000-00-00" value="">
        </mat-form-field>
        <br>

        <mat-form-field class="qtd-aluno">
            <mat-label>Quantidade de Alunos</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="curso-descricao">
            <mat-label>Descrição do Curso</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <br>

        <mat-form-field class="id-categoria">
            <mat-label>Id da Categoria</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="cat-descricao">
            <mat-label>Descriçao</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <br>

        <button mat-flat-button class="btn-salvar" color="primary">Salvar</button>
        <button mat-flat-button class="btn-deletar"  color="warn">Deletar</button>

    </form>
</mat-card>